
body {
    font-family: Arial, Helvetica, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
    text-align: center;
}

.purpose {
    text-align: center;
    font-size: small;
}

form {
    display: table;
    margin: 0 auto;
    font-size: small;
}

label {
    display: inline-block;
    vertical-align: top;
    width: 250px;
}

.calc_submit {
    width: 100px;
    height: 2em;
    display: block;
    margin: 7px auto 3px auto;
}

.report {
    display: table;
    margin: 0 auto;

    padding: 10px 25px;

    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    box-shadow: 5px 5px 15px #BBBBBB;

    background-color:#F8F8F8;
    /* font-family: Geneva, Tahoma; */
    font-size: small;
}

.seclist {
    border-width: 1px;
    border-style: dashed;
    border-radius: 15px;

    padding: 0px 20px;
    margin: 17px;
}

.github-fork-ribbon.right-top:before {
    background-color: #090;
}

.github-fork-ribbon.left-top:before {
    background-color: #f80;
}
